.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.heading{
    font-family: cursive;
    margin-top: 5%;
    text-align: center;
}

#cried-count {
    text-align: center;
    font-size: 450%;
    font-weight: bold;
    font-family: cursive;
    min-height: 100px;
}